<dialog id="key-help" aria-labelledby="key-help-title">
  <header class="palette-header"><h2 id="key-help-title">:help keys</h2><button type="button" class="palette-close" aria-label="Close keys">Esc</button></header>
  <dl class="key-list">
    <div><dt><kbd>j</kbd> <kbd>k</kbd></dt><dd>Scroll down / up</dd></div>
    <div><dt><kbd>g</kbd><kbd>g</kbd> <kbd>G</kbd></dt><dd>Jump to top / bottom</dd></div>
    <div><dt><kbd>/</kbd> <kbd>Ctrl K</kbd></dt><dd>Search the portfolio</dd></div>
    <div><dt><kbd>?</kbd></dt><dd>Show this help</dd></div>
    <div><dt><kbd>Esc</kbd></dt><dd>Close</dd></div>
  </dl>
</dialog>
