<a href="{{ '/' | relative_url }}" {% if page.layout == 'home' %}aria-current="page"{% endif %}><i class="fas fa-house" aria-hidden="true"></i><span>home.md</span></a>
{% for tab in site.tabs %}
  {% unless tab.hidden %}
    <a href="{{ tab.url | relative_url }}" {% if page.url == tab.url %}aria-current="page"{% endif %}><i class="far fa-file-lines" aria-hidden="true"></i><span>{{ tab.title | downcase }}.md</span></a>
  {% endunless %}
{% endfor %}
{% assign projects = site.pages | where_exp: 'item', "item.path contains 'projects/'" %}
{% include tree-folder.html name='projects' items=projects %}
{% assign posts = site.posts | where_exp: 'post', 'post.hidden != true' %}
{% include tree-folder.html name='posts' items=posts %}
